{% include('parts/header.html.twig') %}

<div class="mt-6 lg:w-5/6">
  <h1 class="mb-6 text-3xl font-semibold font-display">Classes chart</h1>

  <div class="w-full">
    <div id="ai-chart" class="w-full h-[80vh]"></div>
  </div>
</div>

<script>
  aiChart = document.getElementById('ai-chart');

  const trace1 = {
    x: {{ aiChart.x|raw }},
    y: {{ aiChart.y|raw }},
    text: {{ aiChart.count|raw }},
    mode: 'markers',
    type: 'scatter',
    name: 'Class metric',
    marker: {
      opacity: 0.5,
      size: 15,
    },
  };

  const trace2 = {
    x: [0, 1],
    y: [1, 0],
    mode: 'lines',
    name: 'Baseline',
    type: 'scatter'
  };

  const layout = {
    xaxis: {
      title: 'Instability',
    },
    yaxis: {
      title: 'Abstractness',
    },
    title: 'Instability-Abstractness Chart',
  };

  const data = [trace1, trace2];


  Plotly.newPlot(aiChart, data, layout);
</script>

{% include('parts/footer.html.twig') %}