{% include('parts/header.html.twig') %}

<div class="mt-6 lg:w-5/6">
  <h1 class="mb-6 text-3xl font-semibold font-display">Functions</h1>

  {% set tableName = 'Functions' %}
  {% include('parts/function-table.html.twig') %}
</div>

{% include('parts/footer.html.twig') %}