{% include('@Parts/header.html.twig') %}
{% set metricCollectionId = 'ProjectCollection' %}

<div class="mt-6 lg:w-5/6">
  <div class="mb-7 text-sm">
    <ul class="flex gap-1">
      <li>Home</li>
    </ul>
  </div>

  <h1 class="mb-6 text-3xl font-semibold font-display">Project metrics</h1>

  <p>This is an overview of the project metrics as a whole. This list gives you a quick glimpse on
  what is going on in your project.</p>

  <div class="my-8 grid sm:grid-cols-3 gap-3">
    {% for element in elements %}
      {% include('@Parts/metric-tile.html.twig') %}
    {% endfor %}
  </div>
</div>

{% include('@Parts/footer.html.twig') %}