<div class="bg-cyan-950/50 rounded-lg border-t-4 border-cyan-600 p-3 transition-transform hover:scale-110 hover:shadow-black hover:shadow-2xl">
  <div class="text-lg text-cyan-200">{{ element.name }}</div>
  <div class="">
    <span class="text-white/40">{{ element.rawValue.namespace }}</span>
    <span class="text-2xl font-semibold">{{ element.rawValue.singleName }}</span>
  </div>
</div>
