    </div>
  </main>

  <footer class="mt-6 pb-6 px-4">
    <div class="text-center text-xs">Created with <span class="font-semibold">PhpCodeArcheology</span> v{{ version }} by Marcus Kober at {{ createDate }}.</div>
  </footer>

  <script src="{% if isSubdir %}../{% endif %}assets/js/main.js"></script>
</body>
</html>