<!DOCTYPE html>
<html lang="en" class="font-body">
<head>
  <meta charset="UTF-8">
  <title>PhpCodeArcheology - {{ pageTitle }}</title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="{% if isSubdir %}../{% endif %}assets/css/output.css" rel="stylesheet">

  {% if usesCharts %}
  <script src="https://cdn.plot.ly/plotly-2.27.0.min.js" charset="utf-8"></script>
  {% endif %}

  <style>
    .title-state {
      fill: rgba(8, 51, 68) !important;
    }

    #classDiagramm_classDiagram-extensionEnd path,
    .relation {
      stroke: rgb(21, 94, 117) !important;
    }

    .nodeLabel {
      color: white !important;
    }

    .cluster > rect {
      stroke: rgba(255, 255, 255, .5) !important;
    }
  </style>

</head>
<body class="bg-zinc-900 text-white bg-body-pattern">
<header class="sticky top-0 z-40 w-full backdrop-blur-sm bg-black/45">
  <div class="py-4 px-4 font-medium text-lg text-pink-600">
    PhpCodeArcheology
    <span class="text-xs text-white/30">v{{ version }}</span>
  </div>
</header>

<main class="w-full" role="main">
  <div class="max-w-[80vw] px-4 mx-auto lg:flex">
    {% include('parts/navi.html.twig') %}