<!DOCTYPE html>
<html lang="en" class="font-body">
<head>
  <meta charset="UTF-8">
  <title>PhpCodeArcheology - {{ pageTitle }}</title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="{% if isSubdir %}../{% endif %}assets/css/output.css" rel="stylesheet">

  {% if usesCharts %}
  <script src="https://cdn.plot.ly/plotly-2.27.0.min.js" charset="utf-8"></script>
  {% endif %}

  <style>
    .title-state {
      fill: rgba(8, 51, 68) !important;
    }

    #classDiagramm_classDiagram-extensionEnd path,
    #classDiagramm_classDiagram-dependencyEnd path,
    #classDiagramm_classDiagram-aggregationEnd path,
    #classDiagramm_classDiagram-extensionEnd path,
    .relation {
      stroke: rgb(21, 94, 117) !important;
    }

    .nodeLabel {
      color: white !important;
    }

    .cluster > rect {
      stroke: rgba(255, 255, 255, .5) !important;
    }

    #classDiagramm .edgeLabel .label span {
      background: transparent !important;
      color: white !important;
    }
  </style>

</head>
<body class="bg-zinc-900 text-white bg-body-pattern">
  <svg class="hidden">
    <defs>
      <g id="right"><path d="M0.666626 9.57143H20.6666M20.6666 9.57143L12.0952 1M20.6666 9.57143L12.0952 18.1429" stroke="white" stroke-linecap="round" stroke-linejoin="round"></path></g>
      <g id="down"><path d="M1.33337 1.33337L21.3334 21.3334M21.3334 21.3334V1.33337M21.3334 21.3334H1.33337" stroke="white" stroke-linecap="round" stroke-linejoin="round"></path></g>
      <g id="up"><path d="M1.33337 21.3334L21.3334 1.33337M21.3334 1.33337H3.33337M21.3334 1.33337V19.3334" stroke="white" stroke-linecap="round" stroke-linejoin="round"></path></path></g>
    </defs>
  </svg>
<header class="sticky top-0 z-40 w-full backdrop-blur-sm bg-black/45">
  <div class="py-4 px-4 font-medium text-lg text-pink-600">
    PhpCodeArcheology
    <span class="text-xs text-white/30">v{{ version }}</span>
  </div>
</header>

<main class="w-full" role="main">
  <div class="max-w-[90vw] px-4 mx-auto lg:flex">
    {% include('@Parts/navi.html.twig') %}