<div class="bg-cyan-950/50 rounded-lg border-t-4 border-cyan-600 p-3 transition-transform hover:scale-110 hover:shadow-black hover:shadow-2xl">
  <div class="text-lg text-cyan-200">{{ element.name }}</div>
  <div class="text-3xl font-bold">
    {% if ': ' in element.value %}
      {% set value = element.value|split(': ') %}
      {{ value[1] }}<br><span class="text-xs font-normal inline-block">{{ value[0] }}</span>
    {% else %}
      {{ element.value }}
    {% endif %}
  </div>
</div>
