<nav class="mt-6 lg:w-1/6 lg:pr-3">
  <ul>
    <li>
      <h2 class="mb-3 font-semibold">Overview</h2>
      <ul class="border-l border-cyan-900 space-y-2">
        <li><a href="{% if isSubdir %}../{% endif %}index.html" class="block border-l pl-4 -ml-px {% if currentPage == 'index.html' %}border-cyan-500 text-cyan-500{% else %}border-transparent hover:border-gray-200 text-gray-400 hover:text-gray-200{% endif %}">Project metrics</a></li>
        <li><a href="{% if isSubdir %}../{% endif %}files.html" class="block border-l pl-4 -ml-px {% if currentPage == 'files.html' %}border-cyan-500 text-cyan-500{% else %}border-transparent hover:border-gray-200 text-gray-400 hover:text-gray-200{% endif %}">Files</a></li>
      </ul>
    </li>
    <li class="mt-8">
      <h2 class="mb-3 mt-3 font-semibold">Classes</h2>
      <ul class="border-l border-cyan-900 space-y-2">
        <li><a href="{% if isSubdir %}../{% endif %}classes-list.html" class="block border-l pl-4 -ml-px {% if currentPage == 'classes-list.html' %}border-cyan-500 text-cyan-500{% else %}border-transparent hover:border-gray-200 text-gray-400 hover:text-gray-200{% endif %}">List</a></li>
        <li><a href="{% if isSubdir %}../{% endif %}classes-coupling.html" class="block border-l pl-4 -ml-px {% if currentPage == 'classes-coupling.html' %}border-cyan-500 text-cyan-500{% else %}border-transparent hover:border-gray-200 text-gray-400 hover:text-gray-200{% endif %}">Coupling</a></li>
        <li><a href="{% if isSubdir %}../{% endif %}classes-chart.html" class="block border-l pl-4 -ml-px {% if currentPage == 'classes-chart.html' %}border-cyan-500 text-cyan-500{% else %}border-transparent hover:border-gray-200 text-gray-400 hover:text-gray-200{% endif %}">Chart</a></li>
      </ul>
    </li>
    <li class="mt-8">
      <h2 class="mb-3 mt-3 font-semibold">Functions</h2>
      <ul class="border-l border-cyan-900 space-y-2">
        <li><a href="{% if isSubdir %}../{% endif %}functions-list.html" class="block border-l pl-4 -ml-px {% if currentPage == 'functions-list.html' %}border-cyan-500 text-cyan-500{% else %}border-transparent hover:border-gray-200 text-gray-400 hover:text-gray-200{% endif %}">List</a></li>
        <li><a href="{% if isSubdir %}../{% endif %}functions-coupling.html" class="block border-l pl-4 -ml-px {% if currentPage == 'functions-coupling.html' %}border-cyan-500 text-cyan-500{% else %}border-transparent hover:border-gray-200 text-gray-400 hover:text-gray-200{% endif %}">Coupling</a></li>
      </ul>
    </li>
  </ul>
</nav>
